body {
    margin: 0;
}

section {
    padding: 60px 100px;
    margin: auto;
}

.frame {
    min-width: 960px;
    width: 100%;
    border: 1px double black;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.cal-header {
    border-bottom: 1px double black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 48px;
}

.cal-body {
    width: 100%;
}

.cal-header button {
    position: absolute;
    cursor: pointer;
}

#prev {
    left: 60px;
}

#next {
    right: 60px;
}

.body-header {
    display: flex;
    border-bottom: 1px solid black;
    height: 30px;
    line-height: 30px;
}

.body-header div {
    box-sizing: border-box;
    border-left: 1px solid black;
    width: 14.5%;
    text-align: center;
}

#sun {
    border-left: none;
}

.body-body {
    box-sizing: border-box;
    width: 100%;
}

.row {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
}

.cell {
    box-sizing: border-box;
    width: 14.5%;
    height: 150px;
    background-color: antiquewhite;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
}

.cell.first {
    border-left: none;
}

.upper {
    width: 100%;
    display: flex;
}

.day {
    padding: 8px;
    width: 10%;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.holiday {
    width: 90%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

